<h4>Posts</h4>
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="form-group">
            <select class="form-control" #u (change)="onUserChangeReload(u.value)">
                <option value="">Select a user</option>
                <option *ngFor="let user of allUsers" value="{{ user.id }}">{{ user.name }}</option>
            </select>
        </div>
        <spinner [visible]="postsLoading"></spinner>
        <ul class="list-group posts">
            <li class="list-group-item" *ngFor="let post of posts" (click)="onClickPost(post.id)" [class.active]="post.id == details.id">
                <a>{{ post.title }}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default" *ngIf="showPost">
            <div class="panel-heading">
                {{details.title}}
            </div>
            <div class="panel-body">
                {{details.body}}
                <spinner class="comments-load" [visible]="commentsLoading"></spinner>
                <div *ngFor="let comment of comments" class="media post-comments">
                    <div class="media-left">
                        <a href="#">
                            <img src="http://lorempixel.com/80/80/people?random={{ comment.id }}" alt="" class="media-object">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ comment.name }}</h4> {{ comment.body }}
                    </div>
                </div>
            </div>
        </div>
        <div>
        </div>